{% load humanize %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style type="text/css">
			@media print {
				#link {
					display: None;
				}
			}
			*{
				font-family: Sans Serif, Times New Roman;
				font-size: 0.98em;
				margin: 0;
				padding: 0;
			}
			body {
				padding: .3em;
			}				
		</style>
		<script>
			$(document).ready(function(){
		  		window.print();
			});
		</script>
	</head>
<body onload="window.print()">
    <a id="link" href="/ventas/" style="font-size: 2em">VOLVER A LA PLATAFORMA</a>
	<div style="text-align: center">
		<label>Mesa: {{venta.mesa.numero}}</label>
		<label>{% now "d F Y H:i" %}</label>
		{% if precio_tiempo is not None %}
			<label>Inicio: {{venta.fecha_inicio}}</label>
			<label>Fin: {{venta.fecha_fin}}</label>
		{% endif %}
		<br>
		<br>
		<label>Chevillotte Billards</label>
		<br>
		<label>_NIT 10122833-9</label>
		<label>Factura {{venta.pk}}, Reg.Comun</label>
	</div>
		<table>
			<tr>
				<td>
					_ITEM
				</td>
				<td>
					CAN
				</td>
				<td>
					PRECIO
				</td>
			</tr>
			{% if precio_tiempo is not None %}
				<tr>
					<td>
						_JUEGO BILLAR
					</td>
					<td>
						{{minutos_transcurridos}} mins
					</td>
					<td style="text-align: left">
						{{precio_tiempo|intcomma}}__
					</td>
				</tr><br>
			{% endif %}
		{%for orden in venta.related_ordenes.all %}
			<tr>
				<td>
					_{{orden.producto.nombre}}
				</td>
				<td>
					{{orden.cantidad}}
				</td>
				<td style="text-align: left">
					{{orden.producto.precio|intcomma}}__
				</td>
			</tr><br>
		{% endfor %}
		</table>
	<br>
	<label>_TOTAL: ${{venta.total|intcomma}}</label>
	<br>
	<label>_Atendido por: {{request.user}}</label>
</body>
</html>
</body>
</html>