{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s12">
        <legend class="white-text flow-text left">Usuario actual: {{request.user}}</legend>
        <a class="btn small right" href="/logout">Cerrar sesión</a>
    </div>
    <div class="col s12 m6">
        <p class="flow-text">Mesas</p>
        {% for mesa in mesas %}
        <div class="col s12 m4">
            <div class="card {% if mesa.obtener_venta %}lime disabled{% else %}blue-grey enabled{% endif %} darken-1">
                <div class="card-content white-text">
                    <h4>{{mesa.numero}}</h4>
                </div>
                <div class="card-action">
                    {% if mesa.obtener_venta %}
                        <a href="/ventas/{{mesa.obtener_venta.pk}}/" class="btn white-text">CONSUMO</a>
                    {% else %}
                        <form method="POST" action="{% url 'crear_venta' %}">
                            {% csrf_token %}
                            <input type="hidden" name="num_mesa" value="{{mesa.numero}}">
                            <button type="submit" class="btn">Iniciar</button>
                        </form>
                    {% endif %}
                </div>
                <div class="card-action">
                    <div class="switch">
                        <label>
                        Off
                        <input type="checkbox" class="switch_script">
                        <span class="lever"></span>
                        On
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s12 m6">
        <p class="flow-text">Barras</p>
        {% for mesa in barras %}
        <div class="col s12 m6">
            <div class="card {% if mesa.obtener_venta %}cyan disabled{% else %} blue-grey enabled{% endif %} darken-1">
                <div class="card-content white-text">
                    <h4>{{mesa.numero}}</h4>
                </div>
                <div class="card-action">
                    {% if mesa.obtener_venta %}
                        <a href="/ventas/{{mesa.obtener_venta.pk}}/" class="btn white-text">CONSUMO</a>
                    {% else %}
                        <form method="POST" action="{% url 'crear_venta' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id_mesa" value="{{mesa}}">
                            <button type="submit" class="btn" style="margin: 0 !important;">Iniciar</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function(){
    $('.switch_script').on('change', function(){
        val= $(this).prop('checked');
        if (val == true){
            Materialize.toast('Ejecutando script de encendido...', 2000);
            setTimeout(function(){
               Materialize.toast('Ejecución finalizada correctamente, se ha encendido la mesa.', 2000, 'lime black-text');
            }, 2000);
        } else {
            Materialize.toast('Ejecutando script de apagado...', 4000);
            setTimeout(function(){
               Materialize.toast('Ejecución finalizada correctamente, se ha apagado la mesa.', 2000, 'orange white-text');
            }, 2000);
        }
    });
});   
</script>
{% endblock %}