{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col s12 m6 offset-m3 z-depth-2">
        <a href="/ventas/" class="flow-text white-text left col s12">Volver al listado</a>
        <ul class="collection">
          <li class="collection-item flow-text">Número de mesa: <strong>{{object.mesa}}</strong></li>
          <li class="collection-item flow-text">Fecha/Hora de venta:  <strong>{{object.fecha_inicio}}</strong></li>
          <li class="collection-item flow-text">Total de venta: <strong>${{object.total|intcomma}}</strong></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 offset-m3 z-depth-2 green darken-4">
        <p class="flow-text">Información de consumo</p>
        <table class="bordered">
            <thead>
                <th class="white-text">Referencia</th>
                <th class="white-text">Producto</th>
                <th class="white-text">Cantidad</th>
                <th class="white-text">Valor</th>
                <th class="white-text">Subtotal</th>
            </thead>
            <tbody>
                {% for orden in object.related_ordenes.all %}
                  <tr class="white">
                        <td>{{orden.producto.referencia}}</td>
                        <td>{{orden.producto.nombre}}</td>
                        <td>{{orden.cantidad}}</td>
                        <td>${{orden.producto.precio|intcomma}}</td>
                        <td>${{orden.total|intcomma}}</td>
                        <td><a class="eliminar_orden" data-order="{{orden.pk}}" href="/eliminar_orden?id_orden={{orden.pk}}">Eliminar</a>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn right amber black-text facturar facturar_venta" href="/facturar_venta?id_venta={{object.pk}}">Facturar</a>
        <a href="#modal_agregar_producto" class="btn right green modal-trigger">Agregar producto</a>
        <br>
        <li class="divider col s12" style="margin-top: 1.5em"></li>
    </div>
    {% if object.mesa.tipo == "NORMAL" %}
    <div class="col s12 m6 offset-m3 z-depth-2 green darken-4">
        <span class="flow-text white-text">Tiempo transcurrido: <strong id="timer">{{minutos_transcurridos}} mins</strong><//span>
        <span class="flow-text white-text right">Valor por hora: <strong>${{valor_hora|intcomma}}</strong></span>
    </div>
    {% endif %}
</div>

<div class="modal" id="modal_agregar_producto">
  <div class="row">
    <div class="col s12">
      <form method="POST" action="{% url 'agregar_producto' %}">
        {% csrf_token %}
        <input type="hidden" name="id_venta" value="{{object.pk}}">
        <p class="flow-text black-text center">Agregar producto</p>
        <div class="input-field col s12">
          <input id="cantidad" name="cantidad" type="number" class="validate" required>
          <label class="active" for="cantidad">Cantidad</label>
        </div>
        <div class="input-field col s12">
          <select name="id_producto" class="browser-default" style="width: 100%; margin-bottom: 1em;" required>
            <option disabled selected>Selecciona un producto</option>
            {% for producto in productos %}
              <option value="{{producto.pk}}">{{producto}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn green right" style="margin-top: 1em;">Agregar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function(){
    {% if object.mesa.tipo == "NORMAL" %}
      $('#timer').timer({
          seconds: {{segundos_transcurridos}} 
      });
    {% endif %}
    $('select').select2();
    $('.eliminar_orden').on('click', function(e){
      e.preventDefault();
      href = $(this).attr('href');
      swal(
        {
          title: "¿Desea eliminar el producto?",
          text: "Esta acción quedará registrada y será notificada al administrador.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Si, borrar",
          closeOnConfirm: false,
          cancelButtonText: "No, cancelar"
        }, function(){
          location.href = href
        });
    });
    $('.facturar_venta').on('click', function(e){
      e.preventDefault();
      href = $(this).attr('href');
      swal(
        {
          title: "¿Desea facturar la mesa?",
          text: "Esto terminará el consumo de la mesa y generará la factura correspondiente",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Si, facturar",
          closeOnConfirm: false,
          cancelButtonText: "No, cancelar"
        }, function(){
          location.href = href
        });
    });
});   
</script>
{% endblock %}