{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center">
    <div class="col s12 m6 offset-m4 center">
        <form method="POST" action="{% url 'login' %}" class="col s12 m8">
           
                <img src="{% static 'img/billiar-flat.png' %}" width="380px">
                {% csrf_token %}
                <h4 class="text-center">Billar Manager</h4>
                <div class="input-field">
                    <input type="text" name="user" placeholder="Usuario">
                </div>
                <div class="input-field">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn ">ENTRAR</button>
        </form>
    </div>
</div>
{% endblock %}