{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Billar manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script src="{% static 'js/timer.min.js' %}"></script>
        <script src="{% static 'js/sweetalert.min.js' %}"></script> 
        <script src="{% static 'js/select2.min.js' %}"></script> 
        <script>
        $(document).ready(function(){
            {% if messages %}
                {% for message in messages %}
                Materialize.toast('{{message}}', 2000, 'lime black-text');
                {% endfor %}
            {% endif %}
            $('.modal-trigger').leanModal();
            $('select').material_select();
            $('.facturar').on('click', function(){
                Materialize.toast('Impresora no encontrada', 2000);
            });
        });   
        </script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>